<p id="notice"><%= notice %></p>

<h1>English Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class date</th>
      <th>Class time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @english_classes.each do |english_class| %>
      <tr>
        <td><%= english_class.class_date %></td>
        <td><%= english_class.class_time %></td>
        <td><%= link_to 'Show', english_class %></td>
        <td><%= link_to 'Edit', edit_english_class_path(english_class) %></td>
        <td><%= link_to 'Destroy', english_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New English Class', new_english_class_path %>
