<p id="notice"><%= notice %></p>

<p>
  <strong>Class date:</strong>
  <%= @english_class.class_date %>
</p>

<p>
  <strong>Class time:</strong>
  <%= @english_class.class_time %>
</p>

<%= link_to 'Edit', edit_english_class_path(@english_class) %> |
<%= link_to 'Back', english_classes_path %>
