<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<%= image_tag attachments['logo.png'].url %>
<h1><%="#{I18n.translate 'application_mailer.welcome_message.body.first_line'}"%> <%= @domain %>, <%= @user.first_name %></h1>
<p>
  <%="#{I18n.translate 'application_mailer.welcome_message.body.second_line_first_half'}"%> <%= @domain %> <%="#{I18n.translate 'application_mailer.welcome_message.body.second_line_second_half'}"%>
  <%="#{I18n.translate 'application_mailer.welcome_message.body.third_line'}"%> <%= @user.email %>.<br>
</p>
<%- if @password.present? %>
  <p>
    <%="#{I18n.translate 'application_mailer.welcome_message.body.fourth_line'}"%> <%=@password%>.
  </p>
  <p>
    <%="#{I18n.translate 'application_mailer.welcome_message.body.fifth_line'}"%>
  </p>
<%- end %>

<p>
  <%="#{I18n.translate 'application_mailer.welcome_message.body.sixth_line'}"%> <a href="https://<%= @url %>"><%= @url %></a>.
</p>
<p><%="#{I18n.translate 'application_mailer.welcome_message.body.seventh_line'}"%></p>
<p><%="#{I18n.translate 'application_mailer.welcome_message.body.eighth_line'}"%></p>
</body>
</html>