<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.first_name %>, you've got mail!</h1>
<p>
 <%= @sender.first_name %> has sent you a message:<br>
</p>

<p><%= @message.subject %></p>
<p>
  <%= @message.body %>
</p>
<p>
  To view the full message, please sign in: <%= @url %>.
</p>
<p>
  Have you worked with <%= @sender.first_name %>? Leave this person a review.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>
