<%= form_for(tutor) do |f| %>

  <div id="user-form">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :f_name, "First Name" %><br />
      <%= f.text_field :f_name, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :l_name, "Last Name" %><br />
      <%= f.text_field :l_name, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirm %><br />
      <%= f.password_field :password_confirm, autocomplete: "off" %>
    </div>
  </div>

  <% if tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

