<%= render :partial=>'partials/page_header', :locals => { page_header: 'New Search' } %>
<% form_tag search_path, :method => 'post' do %>
  <div class="actions">
  <div class="field">
    <%= label_tag :course, :name => nil %><br />
    <%= select_tag :course, @courses, :autofocus => true %>
  </div>
  <br/>
  <br/>
  <div class="field">

    <%= radio_button_tag :day, "Monday", autofocus: true %>
    <%= label_tag :day, "Monday", :name => nil %><br />

    <%= radio_button_tag :day, "Tuesday", autofocus: true %>
    <%= label_tag :Tuesday, :name => nil %><br />

    <%= radio_button_tag :day, "Wednesday", autofocus: true %>
    <%= label_tag :Wednesday, :name => nil %><br />

    <%= radio_button_tag :day, "Thursday", autofocus: true %>
    <%= label_tag :Thursday, :name => nil %><br />

    <%= radio_button_tag :day, "Friday", autofocus: true %>
    <%= label_tag :Friday, :name => nil%><br />

    <%= radio_button_tag :day, "Saturday", autofocus: true %>
    <%= label_tag :Saturday, :name => nil %><br />

    <%= radio_button_tag :day, "Sunday", autofocus: true %>
    <%= label_tag :Sunday, :name => nil %><br />
  </div>

  <br />

  <div class="field">
    <%= label_tag :start_time, :name => nil %>
    <br />
    <%= time_field_tag :start_time, autofocus: true %>
  </div>

  <div class="field">
    <%= label_tag :end_time => nil %>
    <br />
    <%= time_field_tag :end_time, autofocus: true %>
  </div>
  <br/>
  <%= submit_tag "Search", :name => nil %>
</div>
<% end %>
