<%= render :partial=>'partials/page_header', :locals => { page_header: 'New Search' } %>
<div class='container'>
  <%= form_tag results_path, method: 'get' do %>
    <%- if @message %>
      <%= @message %>
      <br />
      <br />
    <% end -%>

    <div class='field'>
      <%= select_tag :course, options_for_select(@courses.collect{ |u| [u.name, u.id] }) %>
    </div>
    <br />

    <div class='field'>

      <%= check_box_tag :day, 'Monday', { autofocus: true, :multiple => true } %>
      <%= label_tag :day, 'Monday' %><br />

      <%= check_box_tag :day, 'Tuesday',{ autofocus: true, :multiple => true } %>
      <%= label_tag :Tuesday %><br />

      <%= check_box_tag :day, 'Wednesday', { autofocus: true, :multiple => true } %>
      <%= label_tag :Wednesday %><br />

      <%= check_box_tag :day, 'Thursday', { autofocus: true, :multiple => true } %>
      <%= label_tag :Thursday %><br />

      <%= check_box_tag :day, 'Friday', { autofocus: true, :multiple => true } %>
      <%= label_tag :Friday %><br />

      <%= check_box_tag :day, 'Saturday', { autofocus: true, :multiple => true } %>
      <%= label_tag :Saturday %><br />

      <%= check_box_tag :day, 'Sunday', { autofocus: true, :multiple => true } %>
      <%= label_tag :Sunday %><br />
    </div>

    <br />

    <div class='field'>
      <%= label_tag :start_time %><br />
      <%= time_field_tag :start_time %>
    </div>

    <div class='field'>
      <%= label_tag :end_time %><br />
      <%= time_field_tag :end_time %>
    </div>
    <br/>
    <div class='actions'>
      <%= submit_tag 'Search' %>
    </div>

  <% end %>
</div>
