<!DOCTYPE html>
<html>
  <head>
    <title>Tutoría</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <%= favicon_link_tag 'logo.png'%>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

  </head>

  <body>

  <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
