<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager-->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PFTG9M9');
    </script>
    <!-- End Google Tag Manager -->

    

    <% if @_request.env["PATH_INFO"].start_with? "/es" %>
      <title>Tutoría: Tutores/as Gratuitos de Inglés, Ciudadanía y Más</title>
    <% else %>
      <title>Tutoría: Free Tutors for English, US Citizenship, and More</title>
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" >
    <meta charset='utf-8' />
    <% if @_request.env["PATH_INFO"].start_with? "/es" %>
      <meta name="description" content="Tutoria es una aplicación gratuita que sirve para conectar a quienes están buscando ayuda con los voluntarios/as que están dispuestos a ayudarlos. ¿Interesado en las oportunidades para voluntarios? Regístrese como voluntario. ¿En busca de tutoría para aprender inglés u otros servicios intelectuales? Regístrese como cliente y encuentre voluntarios.">
    <% else %>
      <meta name="description" content="Tutoria is a free web application connecting those looking for help with volunteers who want to make a difference. Interested in volunteer opportunities? Sign up as a volunteer. Looking for a tutor to help learn English or other knowledge services? Join us as a client and find volunteers all over the world.">
    <% end %>
    <link rel="alternate" hreflang="en" href="https://tutoria.io/en" />
    <link rel="alternate" hreflang="es" href="https://tutoria.io/es" />
    <meta name='referrer' content='origin' >
    <meta http-equiv='X-UA-Compatible' content='IE=edge' >

    <%= favicon_link_tag 'logo.png'%>
    <%= javascript_pack_tag 'application' %>
    <%if %w(staging production).include? Rails.env %>
      <%= stylesheet_pack_tag 'application' %>
    <%end %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFTG9M9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id='main'>
        <%= yield %>
    </div>
  </body>
</html>
